// 基础样式配置

// 颜色配置
$--color-primary: #2F61A7; // 品牌色

// 功能色
$--color-info: #007AF5; // 通知
$--color-success: #34C759; // 成功
$--color-warning: #FFCC00; // 注意
$--color-danger: #FF3B30; // 错误



$--color-border1: #DEDEDE; // 一级边框


// 中性色
$color-text1: #111; // 一级文本
$color-text2: #4E4E4E; // 二级文本
$color-border1: #DEDEDE; // 一级边框
$color-border2: #F0F0F0; // 二级边框
$color-disabled: #C7C7C7; // 禁用
$color-background: #F8F8F8; // 背景
