@import './element/index.scss';

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;
  // font-size: $--common-font-size;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $--color-main-grey;
}

::-ms-clear,
::-ms-reveal {
  display: none;
}
ul,
ol,
li {
  list-style: none;
}

i,
em {
  font-style: normal;
}

a {
  text-decoration: none;
}


// 页面加载进度条
#nprogress {
  .bar, .spinner {
    z-index: 9999 !important;
  }
}

// 页面组件默认容器样式
.page-container {
  padding: 12px;
  box-sizing: border-box;
  background-color: $--color-white;
  min-height: 100%;
}

// 基础样式配置

// 颜色配置
$--color-primary: #2F61A7; // 品牌色

// 功能色
$--color-info: #007AF5; // 通知
$--color-success: #34C759; // 成功
$--color-warning: #FFCC00; // 注意
$--color-danger: #FF3B30; // 错误

// 中性色
$color-text1: #111; // 一级文本
$color-text2: #4E4E4E; // 二级文本
$color-border1: #DEDEDE; // 一级边框
$color-border2: #F0F0F0; // 二级边框
$color-disabled: #C7C7C7; // 禁用
$color-background: #F8F8F8; // 背景
